<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8" />
	<title><% title %></title>
	<script src="lib/angular/angular.min.js" type="text/javascript"></script>
	<script src="app/app.js" type="text/javascript"></script>
</head>
<body ng-controller="MyCtrl as ctrl">
	<h1 class="message">{{ctrl.name}}</h1>
	<input type="text" class="name-textbox" ng-model="ctrl.name">
</body>
</html>